.header {
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    width: 100%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
}

.header-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}