.header {
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-hamburger {
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 20px;
    color: var(--bright-text-color);
    font-size: 24px;
}

.header-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
}