.header {
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    width: 100%;
    min-height: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
}

.header-filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

@media (max-width: 768px) {
    .header {
        min-height: 120px;
        padding: 15px 0;
        gap: 10px;
    }

    .header-filters {
        width: 90%;
    }

    .header::after {
        content: '';
        position: absolute;
        top: 0.8rem;
        left: 50%;
        transform: translateX(-50%);
        height: 0.2rem;
        width: 3rem;
        background-color: rgba(255, 255, 255, 0.71);
        border-radius: 1rem;
        z-index: 100;
    }
}
