.header {
    background-color: var(--primary-color);
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}