.spring-details {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-text-color);
    padding: 20px 30px;
    box-sizing: border-box;
}

.spring-details-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1;
    padding: 25px 0 10px 0;
    box-sizing: border-box;
}

.spring-details-back {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.spring-details-back:hover {
    color: var(--dark-text-color-hover);
}


.spring-details-top-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.spring-details-title {
    font-size: 28px;
    font-weight: 700;
}

.spring-details-subregion {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
}

.spring-details-subregion svg {
    color: var(--secondary-color);
}

.spring-details-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.spring-details-description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

.spring-details-separator {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color-hover);
    color: transparent;
    margin: 20px 0;
}

/* --- */



.spring-details-bottom-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.spring-details-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spring-details-section-title {
    font-size: 18px;
    font-weight: 600;
}

.spring-details-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 15px;
    column-gap: 15px;
    padding: 15px;
    padding-right: 0;
    box-sizing: border-box;
}

.spring-detail-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.spring-detail-label {
    font-weight: 600;
    color: #666;
}

.spring-detail-value {
    font-weight: 500;
}

.spring-details-arrival {
    font-size: 16px;
    line-height: 1.6;
}


/* Mobile */
@media (max-width: 768px) {
    .spring-details {
        padding: 20px 15px;
        width: 100vw;
        max-width: 100vw;
        padding-bottom: 100px;
    }

}