.spring-details {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--dark-text-color);
    box-sizing: border-box;
    width: 100%;
    overflow-y: scroll;
    height: 100dvh;
}

.spring-details-content {
    padding: 0 var(--details-padding) 7vh var(--details-padding);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spring-details-top-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.spring-details-title {
    font-size: 28px;
    font-weight: 700;
}

.spring-details-subregion {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
    cursor: pointer;
}

.spring-details-subregion svg {
    color: var(--secondary-color);
}

.spring-details-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.spring-details-description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
}

.spring-details-separator {
    display: block;
    height: 1px;
    width: 100%;
    background-color: var(--secondary-color-hover);
    color: transparent;
    margin: 20px 0;
}


.spring-details-bottom-sections {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.spring-details-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.spring-details-section-title {
    font-size: 18px;
    font-weight: 600;
}

.spring-details-arrival {
    font-size: 16px;
    line-height: 1.6;
}


/* Mobile */
@media (max-width: 768px) {
    .spring-details {
        width: 100vw;
        max-width: 100vw;
        overflow-y: visible;
        height: fit-content;
        gap: 0;
        top: 0;
    }

    .spring-details-content {
        /* TODO */
        /* padding: 0 var(--details-padding) var(--padding-bottom-panel) var(--details-padding); */
        padding: 0 var(--details-padding) 0 var(--details-padding);
    }
}