.places-selector-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.places-selector-section label {
    font-size: 16px;
    color: var(--tag-color);
}

.places-selector {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    /* "flex to the right" */
    justify-content: flex-start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.places-selector::-webkit-scrollbar {
    display: none;
}

.place-chip {
    width: 110px;
    height: var(--tag-height);
    border-radius: 50px;
    border: 1px solid var(--tag-color);
    background-color: transparent;
    color: var(--tag-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
}

.place-chip:hover {
    background-color: rgba(252, 237, 214, 0.1);
    cursor: pointer;
}

.place-chip.active {
    background-color: var(--tag-color);
    color: var(--primary-color);
    border-color: var(--tag-color);
}

.remove-icon {
    font-size: 12px;
    display: flex;
    align-items: center;
}