.search-input-container {
    width: 100%;
    max-width: none;
    position: relative;
    cursor: text;
}

.search-input-container svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.search-input {
    width: 100%;
    height: var(--input-height);
    outline: none;
    box-sizing: border-box;
    padding: 10px 40px;
    border: 1px solid var(--dark-text-color);
    border-radius: 50px;
    font-size: 16px;
    font-family: inherit;
}

/* Mobile */
@media (max-width: 768px) {
    .search-input-container {
        width: 100%;
        max-width: 70vw;
    }
}