.news-box-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 200px;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

    margin-bottom: 50px;
}




.news-title-section {
    flex: 1;
    background-color: var(--background-input-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: var(--primary-color);
}

.news-title-section h3 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    margin: 0;
}




.news-content {
    flex: 2;
    background-color: var(--secondary-color-hover);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    box-sizing: border-box;
    position: relative;
}

.news-text-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    flex: 1;
    width: 80%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.quote {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 5px;
}

.author {
    font-size: 16px;
    opacity: 0.8;
    margin-bottom: 20px;
}

.action-button {
    background-color: var(--primary-color);
    color: var(--bright-text-color);
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;
}

.action-button:hover {
    background-color: var(--dark-text-color-hover);
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.nav-button.prev {
    right: 15px;
}

.nav-button.next {
    left: 15px;
}

.nav-button svg {
    width: 40px;
    height: 40px;
    stroke-width: 2;
}