.category-selector {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    /* "flex to the right" */
    justify-content: flex-start;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.category-selector::-webkit-scrollbar {
    display: none;
}

.category-chip {
    padding: 10px 20px;
    height: var(--input-height);
    border-radius: 50px;
    border: 1px solid #e5e7eb;
    background-color: white;
    color: #374151;
    cursor: pointer;
}

.category-chip:hover {
    background-color: #f3f4f6;
}

.category-chip.active {
    background-color: #2563eb;
    color: white;
    border-color: #2563eb;
}