.header {
    background-color: var(--primary-color);
    position: relative;
    left: 0;
    top: 0;
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 30px 0;
    min-height: fit-content;
    height: fit-content;
}

.header-filters-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 80%;
}

.header-filters-and-search {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.filter-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    color: var(--bright-text-color);
    transition: all 0.3s ease-in-out;
}

.filter-button svg {
    width: 24px;
    height: 24px;
}

.filter-button:hover {
    color: var(--bright-text-color-hover);
}

/* Mobile */
@media (max-width: 768px) {
    .header {
        min-height: fit-content;
        box-sizing: border-box;
        width: 100%;
        max-width: 100dvw;
        gap: 10px;
    }

    .header-filters-search {
        width: 90%;
        gap: 5px;
    }

    .header::after {
        content: '';
        position: absolute;
        top: 0.8rem;
        left: 50%;
        transform: translateX(-50%);
        height: 0.2rem;
        width: 3rem;
        background-color: rgba(255, 255, 255, 0.71);
        border-radius: 1rem;
        z-index: 100;
    }
}