/* Desktop */
.map-panel {
  position: relative;
  left: 0;
  min-width: 400px;
  width: 30vw;
  height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

.side-panel-content-wrapper {
  left: 0;
  top: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}

.map-panel-header {
  width: 100%;
  touch-action: none;
  z-index: 5;
  position: sticky;
  top: 0;
}

.map-panel-content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.map-panel-mobile-wrapper {
  display: none;
}

/* Mobile */
@media (max-width: 768px) {
  .map-panel-desktop {
    display: none;
  }

  .map-panel-mobile-wrapper {
    display: block;
    max-width: 100vw;
  }

  .map-panel-sheet-header-wrapper {
    width: 100%;
  }

  .react-modal-sheet-container {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    overflow: hidden;
  }
}