:root {
  --background-color: #F3F3F3;
  --primary-color: #223F43;
  --secondary-color: #97C6E0;
  --secondary-color-hover: #CAE8F2;

  --tag-color: #FCEDD6;
  --tag-color-hover: #fbf0e0;

  --input-text-color: #223F43;
  --input-placeholder-color: #223F4380;
  --background-input-color: #FFFFFF;

  --dark-text-color: #223F43;
  --dark-text-color-hover: #223F4360;
  --bright-text-color: #FFFFFF;
  --bright-text-color-hover: #FFFFFF60;

  --skeleton-background-color: #E0E0E0;
  --skeleton-color: #f3f3f3;

  --border-radius: 15px;
  --tag-height: 32px;
  --input-height: 40px;

  --details-padding: 20px;
  --details-height: 37vh;
  --details-min-height: 200px;
  --details-max-height: 400px;

  --padding-bottom-panel: 15vh;

  --font-family: 'Noto Sans Hebrew', system-ui, -apple-system, sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: 16px;
}

button {
  font-family: inherit
}

@keyframes skeleton-wave {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.skeleton-wave {
  background: linear-gradient(90deg,
      var(--skeleton-color) 25%,
      #ffffff 50%,
      var(--skeleton-color) 75%);
  background-size: 200% 100%;
  animation: skeleton-wave 1.5s infinite;
}