:root {
  --background-color: #F3F3F3;
  --primary-color: #223F43;
  --secondary-color: #97C6E0;
  --secondary-color-hover: #CAE8F2;

  --tag-color: #FCEDD6;
  --tag-color-hover: #fbf0e0;

  --input-text-color: #223F43;
  --input-placeholder-color: #223F4380;
  --background-input-color: #FFFFFF;

  --dark-text-color: #223F43;
  --dark-text-color-hover: #223F4360;
  --bright-text-color: #FFFFFF;
  --bright-text-color-hover: #FFFFFF60;

  --border-radius: 15px;
  --tag-height: 32px;
  --input-height: 40px;

  --font-family: 'Noto Sans Hebrew', system-ui, -apple-system, sans-serif;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  font-family: var(--font-family);
  line-height: 1.5;
  font-size: 16px;
}