.springs-options-scroll {
    overflow-y: scroll;
    /* TODO */
    height: 50vh;

    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.springs-options-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
    .springs-options-scroll {
        width: 100vw;
        max-width: 100vw;
        height: auto;
        overflow-y: visible;
    }

    .springs-options-container {
        justify-content: flex-start;
    }
}