.springs-options-scroll {
    overflow-y: auto;
    height: 100%;
    padding: 20px 0;
}

.springs-options-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*min-height: 100%;*/
    gap: 20px;
}

@media (max-width: 768px) {
    .springs-options-container {
        justify-content: flex-start;
    }
}