.side-panel {
    position: relative;
    left: 0;
    min-width: 400px;
    width: 30vw;
    height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.side-panel-content-wrapper {
    left: 0;
    top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
}

/* Mobile */
@media (max-width: 768px) {
    .side-panel {
        position: fixed;
        width: 100%;
    }

    .side-panel-wrapper {
        left: 0;
        top: 0;
        position: absolute;
        min-height: 100%;
        min-width: 100vw;
        width: 100vw;
    }
}