/* Desktop */
.map-panel {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 400px;
  width: 30vw;
  height: 100%;
  max-height: 100dvh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.map-panel-content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.map-panel-header {
  width: 100%;
  touch-action: none;
  z-index: 5;
  position: sticky;
  top: 0;
}

.map-panel-content {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Mobile */
@media (max-width: 767px) {
  .map-panel-sheet-container {
    background-color: var(--background-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    outline: none;
  }

  .map-panel-drag-handle {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;
    flex-shrink: 0;
    background-color: var(--primary-color);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    /* Patch for whitebottom border of the panel */
    box-shadow: 0 1px 1px var(--primary-color);
  }

  .drawer-handle {
    width: 32px;
    height: 4px;
    background-color: var(--dark-text-color);
    opacity: 0.2;
    border-radius: 2px;
  }

  .vaul-scrollable-content {
    flex: 1;
    width: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
  }

  .map-panel-sheet-header-wrapper {
    width: 100%;
    flex-shrink: 0;
  }
}
