.side-panel {
    position: relative;
    min-width: 400px;
    width: 30vw;
    height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.side-panel-wrapper {
    /*position: relative;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*min-height: 100%;*/
    /*width: 100%;*/
    /*overflow-y: auto;*/
    /*padding-bottom: 1rem;*/
}

/* Desktop */
@media (max-width: 768px) {
    .side-panel {
        position: fixed;
    }

    .side-panel-content {
        display: block;
        box-sizing: border-box;
    }
}