.side-panel {
    position: relative;
    min-width: 400px;
    width: 40vw;
    height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.side-panel-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.side-panel-content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .side-panel {
        position: fixed;
        /*top: 10rem*/
        /*bottom: 0;*/
        /*left: 0;*/
        /*right: 0;*/
        /*width: 100%;*/
        /*min-width: unset;*/
        /*height: 10rem;*/
        /*border-radius: 24px 24px 0 0;*/
        /*box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.15);*/
        /*z-index: 1000;*/
        /*transition: height 0.3s ease-in-out;*/
    }

    .side-panel-content {
        display: block;
        padding: 0 2em;
        box-sizing: border-box;
        padding-bottom: 20px;
    }
}

