.side-panel {
    position: relative;
    min-width: 400px;
    width: 40vw;
    height: 100dvh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -5px -1px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.side-panel-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
}

/* .side-panel-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.side-panel-content {
    flex: 1;
    overflow-y: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 2em 20px 2em;
} */

/* Desktop */
@media (max-width: 768px) {
    .side-panel {
        position: fixed;
    }

    .side-panel-content {
        display: block;
        box-sizing: border-box;
    }
}