.loading-panel {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
}

/* Mobile */
@media (max-width: 768px) {
    .loading-panel {
        margin-top: 20px;
    }
}