.preview-card {
    width: 346px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
}

.preview-card:hover {
    opacity: 0.9;
}

.preview-card:active {
    opacity: 0.8;
}

.preview-card-image {
    border-radius: var(--border-radius);
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.preview-card-info {
    z-index: 1;
    color: var(--bright-text-color);
    width: 100%;
    padding: 20px 25px 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: right;
    position: absolute;
    border-radius: var(--border-radius);
    cursor: pointer;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 20%, transparent 100%);
}

.preview-card-info h3 {
    font-size: 28px;
    font-weight: 600;
}

.preview-card-subregion {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.preview-card-subregion svg {
    color: var(--secondary-color);
}

.preview-card-tags {
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}