.map-container {
    height: 100%;
    width: 100%;
    min-height: 25rem;
    /* Fallback height */
}

.leaflet-popup-reset{
    background-color: transparent;
}

.leaflet-popup-content {
    /*background-color: red;*/
    margin: 0;
    padding: 0;
    background-color: transparent;

}