.map-container {
    height: 100%;
    width: 100%;
    min-height: 25rem;
}

.leaflet-popup-content-wrapper {
    background-color: transparent;
    box-shadow: none;
}

.leaflet-popup-content {
    margin: 0;
}

.leaflet-popup-tip {
    background-color: #000c;
}

.map-controls-container {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.map-button {
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    color: var(--dark-text-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: background-color 0.2s;
}

.map-button:hover {
    background-color: #f4f4f4;
}

.map-spring-icon-not-selected {
    opacity: 0.5; /* TODO: Change it to something else */
}

/*!* Mobile *!*/
/*@media (max-width: 768px) {*/
/*    .map-controls-container {*/
/*        top: unset;*/
/*        bottom: 7rem;*/
/*    }*/
/*}*/