.map-container {
    height: 100%;
    width: 100%;
    min-height: 25rem;
    /* Fallback height */
}

.leaflet-popup-reset{
    background-color: transparent;
}

.leaflet-popup-content {
    /*background-color: red;*/
    margin: 0;
    padding: 0;
    background-color: transparent;

}

.user-location-btn {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    z-index: 1000;
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    color: var(--dark-text-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    /*box-shadow: 0 1px 5px rgba(0,0,0,0.65);*/
}

.user-location-btn:hover {
    background-color: #f4f4f4;
}

.map-spring-icon-not-selected {
    opacity: 0.5; /* TODO: Change it to something else */
}
