.spring-details-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    background-color: var(--background-color);
    padding: 15px var(--details-padding);
    border-bottom: 1px solid var(--secondary-color-hover);
}

.spring-details-back {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.spring-details-back:hover {
    color: var(--dark-text-color-hover);
}

@media (max-width: 768px) {
    .spring-details-header {
        position: sticky;
        top: 0;
    }
}
