.dashboard-container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
}

.side-panel {
    width: 32rem;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.map-wrapper {
    flex: 1;
    height: 100vh;
    position: relative;
    min-width: 0;
}

